.login-container {
  height: 100vh;
  overflow: hidden;
}
.login-container .row {
  height: 100%;
}
.login-container .login-text {
  height: 100%;
  background: rgba(41, 171, 226, 1);
  padding: 30px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.login-container .login-body {
  height: 100%;
  background-color: rgba(240, 252, 255, 1);
}

.login-container .login-text p {
  font-family: 'Lato';
  font-size: 30px;
  margin-left: 20px;

  color: #ffffff;
}

.login-container .login-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container form {
  width: 500px;
  max-width: 90%;
}

.login-container form input {
  border: 2px solid #acacac;
  border-radius: 10px;
  background-color: transparent;
  padding: 15px;
  color: black;
  width: 95%;
  background-color: rgba(240, 252, 255, 1);
}
.login-container form input:focus {
  background-color: transparent;
  outline: none;
}
.login-container form > div {
  margin: 20px 0;
}

.login-container .btn {
  width: 230px;
  background: #29abe2;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f3fcff;
  font-size: 18px;
}
.login-container .btn-container {
  margin: 30px 0;
}
.login-container .btn span {
  text-align: left;
}

.login-container .form-group {
  width: 100%;
  position: relative;
  margin: 30px 0;
}

.login-container .form-group.error input {
  border-color: red;
  color: red;
}

.login-container .form-group.error label {
  color: red;
}

.login-container .form-group label {
  position: absolute;
  top: -12px;
  left: 20px;
  background-color: rgba(240, 252, 255, 1);
  padding-bottom: 0;
  padding: 0 5px;
  color: #929292;
}

.login-container .btn > i {
  text-align: right;
}
.login-container a {
  text-decoration: none;
  color: #2dbae8;
  font-size: 16px;
}

@media all and (max-width: 1024px) {
  .login-container .login-text p {
    margin-left: 20px;
  }
}
@media all and (max-width: 991px) {
  .login-container .login-text p {
    margin-left: 10px;
    font-size: 18px;
  }
}

@media all and (max-width: 767px) {
  .login-container .login-text {
    display: none;
  }
  .login-container form {
    margin: auto;
  }
}

.App * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  overflow-x: hidden;
  height: 100vh;
}
.App .row {
  height: 100%;
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #e2eaeb;
}
.sidebar > div {
  width: 100%;
}

.sidebar .header {
  display: flex;
  margin: 40px 0;
  padding: 0 20px;
  align-items: center;
  color: #424242;
}

.sidebar .header > div {
  margin: 0 10px;
}
.sidebar .nav-home {
  width: 100%;
}

.sidebar li {
  list-style: none;
  width: 100%;
}

.sidebar li a {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: #606060;
}

.sidebar li a.active {
  background: #0071bc;
  color: white;
}

.sidebar li a span,
.sidebar li a i {
  margin: 0 10px;
}

.body {
  margin-left: 25vw;
}

.body .container {
  width: 90%;
  padding: 20px 0;
  margin: auto;
}

@media all and (max-width: 991px) {
  .sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #e2eaeb;
    width: 200px;
    overflow: hidden;
  }
  .sidebar li a {
    font-size: 11px;
  }

  .sidebar .header {
    display: flex;
    margin: 40px 0;
    padding: 0 20px;
    align-items: center;
    color: #424242;
  }

  .sidebar .header h4 {
    font-size: 14px;
    font-weight: bold;
  }
}
@media all and (max-width: 767px) {
  .sidebar {
    width: 180px;
    display: none;
  }
  .sidebar.active {
    display: block;
  }
  .sidebar li a {
    font-size: 10px;
  }
  .body {
    margin-left: 0;
  }
}

.slider {
  height: 150px;
  margin: 20px 0;
}

.page-header {
  margin: 20px 0;
}

.main-destination h2,
.other-destination h2 {
  font-size: 14px;
  color: #424242;
  text-transform: uppercase;
  margin: 10px 0;
}

.destination {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  display: flex;
  width: 100%;
  align-items: center;
  color: #424242;
  background-color: #e7e6e6;
}
.destination.active {
  background-color: rgba(41, 171, 226, 1);
  color: white;
  font-weight: 600;
}

.destination img {
  height: 30px;
  border-radius: 50%;
}
.destination-country {
  margin: 0 20px;
}

.destination-country h3 {
  font-size: 14px;
}
.destination-country p {
  font-size: 12px;
}
.other-destination {
  margin: 30px 0;
}

.country-info {
  margin: 20px 0;
}

.country-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
}

.province {
  color: #424242;
}

.province h4 {
  font-size: 18px;
}
.province p {
  font-size: 12px;
}

.country-info .change-location .btn {
  border: 1px solid rgba(41, 171, 226, 1);
  padding: 7px;
  font-size: 12px;
}

.country-info-body .card {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-left: 40px;
  margin: 10px 0;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #e7e6e6;
}

.country-info-body .card h3 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.country-info-body .card p {
  font-size: 12px;
}

@media all and (max-width: 991px) {
  .destination {
    width: 90%;
  }
}

.dashboard-cards {
  margin: 30px 0;
}

.dashboard-cards .card {
  width: 90%;
  /* height: 150px; */
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: none;
  box-shadow: 0, 0, 2px rgba(0, 0, 0, 0.9);
  color: #0b5180;
}
.dashboard-cards .card.currency {
  background-color: rgba(250, 237, 233, 0.775);
}

.dashboard-cards .card.accomodation {
  background-color: rgba(206, 230, 240, 0.741);
}

.dashboard-cards .card.explore {
  background-color: rgba(164, 235, 235, 0.734);
}

.dashboard-cards .card h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 7px 0;
}

.dashboard-cards .card p {
  font-size: 13px;
}
.universities {
  font-size: 13px;
}

.universities .univerisity-img img {
  height: 200px;
  border-radius: 20px;
  width: 90%;
  margin: auto;
}

.universities .card.universities-list {
  align-items: center;
  flex-direction: row !important;
  padding: 10px;
  border: none;
}
.about-university {
  padding: 20px;
}

.about-university-header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  margin: 5px 0;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.about-university-header .logo img {
  height: 30px;
}

.university-name {
  margin-left: 10px;
}

.about-university-header span {
  font-size: 9px !important;
  color: #424242;
}

.universities-list .about {
  margin: 10px 0;
  color: #424242;
}

.universities-list .about h4 {
  font-size: 14px;
  font-weight: 600;
}
.universities-list .view-more {
  text-align: right;
}
.universities-list .view-more a {
  text-decoration: none;
  color: #0b5180;
}

@media all and (max-width: 1024px) {
  .universities .card.universities-list {
    flex-direction: column !important;
  }
}

/*profile */

.user-dashboard-container {
  margin-top: 10px;
  margin-left: 0px;
  overflow: hidden !important;
  padding: 20px;
  height: 100vh;
}

.user-dashboard-container * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.user-dashboard-container .page-header h1 {
  font: normal normal normal 18px/35px;
  letter-spacing: 0px;
  color: #024873;
  opacity: 1;
}
.user-dashboard-container .page-header small {
  font: normal normal 300 10px/16px;
  letter-spacing: 0px;
  color: #024873;
  opacity: 1;
  font-size: 10px;
}

.user-dashboard-container .balance {
  color: #024873;
}

.user-dashboard-container .card {
  min-height: 40vh;
  width: 98%;
  padding: 10px !important;

  border-radius: 10px;
  margin: 5px 0 !important;
}
.user-dashboard-container .card.profile-info {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 0.9;
  padding: 10px !important;
}
.user-dashboard-container .profile-info .heading {
  display: flex;
  justify-content: space-between;
}
.user-dashboard-container .profile-info .heading h3 {
  font: normal normal bold 12px/23px;
  letter-spacing: 0px;
  color: #024873;
  opacity: 1;
}

.user-dashboard-container .profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.user-dashboard-container .profile-image img {
  height: 200px;
  border-radius: 50%;
  width: 200px;
}

.info-cont p {
  text-align: left;
  font: normal normal normal 9px/23px;
  letter-spacing: 0px;
  color: #bebebe;
  opacity: 1;
}

.info .row > div:last-child p {
  text-align: right;
}

.info-cont #bold {
  font: normal normal 600 12px/25px;
  letter-spacing: 0px;
  color: #202842;
}

.info {
  height: 100%;
  padding: 2px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
