.login-container {
  height: 100vh;
  overflow: hidden;
}
.login-container .row {
  height: 100%;
}
.login-container .login-text {
  height: 100%;
  background: rgba(41, 171, 226, 1);
  padding: 30px;
  display: flex;
  align-items: center;
}

.login-container .login-body {
  height: 100%;
  background-color: rgba(240, 252, 255, 1);
}

.login-container .login-text p {
  font-family: 'Lato';
  font-size: 30px;
  margin-left: 40px;

  color: #ffffff;
}

.login-container .login-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container form {
  width: 500px;
  max-width: 90%;
}

.login-container form input {
  border: 2px solid #acacac;
  border-radius: 10px;
  background-color: transparent;
  padding: 15px;
  color: black;
  width: 95%;
  background-color: rgba(240, 252, 255, 1);
}
.login-container form input:focus {
  background-color: transparent;
  outline: none;
}
.login-container form > div {
  margin: 20px 0;
}

.login-container .btn {
  width: 230px;
  background: #29abe2;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f3fcff;
  font-size: 18px;
}
.login-container .btn-container {
  margin: 30px 0;
}
.login-container .btn span {
  text-align: left;
}

.login-container .form-group {
  width: 100%;
  position: relative;
  margin: 30px 0;
}

.login-container .form-group.error input {
  border-color: red;
  color: red;
}

.login-container .form-group.error label {
  color: red;
}

.login-container .form-group label {
  position: absolute;
  top: -12px;
  left: 20px;
  background-color: rgba(240, 252, 255, 1);
  padding-bottom: 0;
  padding: 0 5px;
  color: #929292;
}

.login-container .btn > i {
  text-align: right;
}
.login-container a {
  text-decoration: none;
  color: #2dbae8;
  font-size: 16px;
}

@media all and (max-width: 1024px) {
  .login-container .login-text p {
    margin-left: 20px;
  }
}
@media all and (max-width: 991px) {
  .login-container .login-text p {
    margin-left: 10px;
    font-size: 18px;
  }
}

@media all and (max-width: 767px) {
  .login-container .login-text {
    display: none;
  }
  .login-container form {
    margin: auto;
  }
}
